.game-container {
    display: flex;
    justify-self: center;
    padding: 20px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 420px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #8B4513;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.gnome {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: transparent;
}